<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%=  flat.name %> </h2>
          <p><%=  flat.description %></p>
          <p><%=  flat.address %></p>
          <p><%=  flat.price_per_night %> <%=flat.number_of_guests%></p>
          <br>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <div class="card-description">
          <%= link_to 'Show', flat %>
          <%= link_to 'Edit', edit_flat_path(flat) %>
          <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Flat', new_flat_path %>
